<a href="https://colab.research.google.com/github/ArpulaAnjali/B19_1319/blob/main/Lab2_problem2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# 1. Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'ID': [101, 102, 103, 104, 105],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'Marketing'],
    'Salary': [48000, 55000, 72000, 50000, 65000]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)
high_salary = df[df['Salary'] > 50000]
print("\nEmployees with Salary > 50,000:\n", high_salary)
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus:\n", df)
total_expense = (df['Salary'] + df['Bonus']).sum()
print("\nTotal Salary Expense (including bonuses):", total_expense)
df.to_csv("employee_data.csv", index=False)
print("\nData saved to employee_data.csv")

Original DataFrame:
       Name   ID Department  Salary
0    Alice  101         HR   48000
1      Bob  102         IT   55000
2  Charlie  103    Finance   72000
3    David  104         IT   50000
4      Eva  105  Marketing   65000

Employees with Salary > 50,000:
       Name   ID Department  Salary
1      Bob  102         IT   55000
2  Charlie  103    Finance   72000
4      Eva  105  Marketing   65000

DataFrame with Bonus:
       Name   ID Department  Salary   Bonus
0    Alice  101         HR   48000  4800.0
1      Bob  102         IT   55000  5500.0
2  Charlie  103    Finance   72000  7200.0
3    David  104         IT   50000  5000.0
4      Eva  105  Marketing   65000  6500.0

Total Salary Expense (including bonuses): 319000.0

Data saved to employee_data.csv